{% extends 'manager/base.html' %}
{% load static %}
{% block body %}

<section id="page-title">
  <div class="container">
    <h2>Change Password</h2>
    <div class="breadcrumb text-left">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'edit profile' %}">Edit profile</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'user change password' %}">Change Password</a></li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<section class="fullscreen p-t-40" data-bg-parallax="{% static 'manager/assets/images/slider/bw-business-bg.jpg' %}">
      <div class="container">
        <div>
          <div class="row">
            <div class="form-wrapper col-lg-5 center p-50 background-white b-r-6 position-relative">
              <div class="load-overlay" style="display:none">
              <span class="overlay-close btn-remove" title="close overlay"><i class="fa fa-close"></i></span>
                  <div class="overlay">
                      <div class="row">
                          <div class="col-12">
                              <div class="loader-container">
                              <div class="loader">
                                  <svg class="circular" viewBox="25 25 50 50">
                                  <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                  </svg>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <h3 class="text-center">Customer change password</h3>
              <form action="" id="submitForm1" class="ContactForm" novalidate="novalidate" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <div class="form-group">
                    <label>Old password</label>
                    {{form.oldpassword}}
                    <div class="help-block font-small-3"></div>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    {{form.password1}}
                    <div class="help-block font-small-3"></div>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    {{form.password2}}
                    <div class="help-block font-small-3"></div>
                </div>
                <div class="form-group">
                  <button type="submit" id="form-submit1" class="btn btn-block btn-dark">Submit</button>
                </div>
              </form>             
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}