{% extends 'manager/base.html' %}
{% load static %}
{% load indian_currency %}
{% block body %}

<section id="page-title">
  <div class="container">
    <h2>Finishing...</h2>
    <div class="breadcrumb text-left">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Final Step</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<section class="background-gradient-4">
    <div id="particles-snow" class="particles"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pb-4 text-center text-dark">
                <h2 class="text-capitalize">Digital {{loan.category}} Application Process</h2>
                <p>Just a few more details to get instant loan offer</p>
            </div>
        </div>
    </div>
</section>
<section class="reservation-form-over no-padding">
    <div class="container">
      <div class="row">
           <div class="col-12 p-b-20 m-0 text-center">
              <form action="{% url 'payment status' %}"  class="p-cb" method="POST">
                {% csrf_token %}
                <input type="hidden" name="loanid" value="{{loanid}}">
                <input type="hidden" name="due_amount" value="{{amount}}">
                <div class="col-lg-12 col-md-12 col-sm-12 row p-b-20 m-0">
                    <div class="col-md-10 col-12 text-left">
                        <div class="animated-progress progress-green">
                               <span data-progress="75"></span>
                        </div>
                    </div>
                    <div class="col-md-2 col-12 text-right">
                        <p>Step: <strong>3/</strong>4</p>
                    </div>
                    <div class="col-md-12 col-12 text-center">
                        <h3 class="text-theme">Buy Membership Card</h3>
                        <hr/>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="credit text-light">
                        {% if loan.category == 'personal loan' %}
                          <div class="credit__front credit__part prime-card">
                                <div class="credit__head">
                                </div>
                                <p class="credit_numer text-left">**** **** **** {{card_number}}</p>
                                <div class="credit__space-full text-left">
                                  <span class="credit__label">VALID FROM {{card.start_date}} VALID TO {{card.end_date}}</span>
                                  <p class="credit__info">{{loan.name}}</p>
                                </div>
                          </div>
                        {% else %}
                        <div class="credit__front credit__part elite-card">
                                <div class="credit__head">
                                </div>
                                <p class="credit_numer text-left">**** **** **** {{card_number}}</p>
                                <div class="credit__space-full text-left">
                                  <span class="credit__label">VALID FROM {{card.start_date}} VALID TO {{card.end_date}}</span>
                                  <p class="credit__info">{{loan.name}}</p>
                                </div>
                          </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center m-t-10">
                      <h4>Membership Card Fees</h4>
                      <h3><del class="text-danger"><i class="fa fa-inr"></i> {{card.prev_price|indian_currency}}</del> <span class="text-success"><i class="fa fa-inr"></i> {{card.now_price|indian_currency}}</span> only</h3>                       
                      <p class="m-b-0">
                          <span class="text-success m-r-10"><i class="fa fa-chevron-right m-r-5"></i> Offer Ending Soon</span> 
                          <span class="text-dark m-r-10"><i class="fa fa-chevron-right m-r-5"></i> GST Additional</span>
                      </p>
                </div>
                <script src="https://checkout.razorpay.com/v1/checkout.js"    
                      data-key="{{api_key}}"
                      data-amount="{{amount}}"    
                      data-currency="INR" 
                      data-order_id="{{payment_order_id}}"    
                      data-buttontext="Pay with Razorpay"    
                      data-name="{{obj.site_name}}"    
                      data-description="{{loan.loan_purpose}}"    
                      data-image="{% static 'manager/assets/images/logos/favicon.ico' %}"    
                      data-prefill.name="{{loan.name}}"    
                      data-prefill.email="{{loan.email}}"    
                      data-prefill.contact="{{loan.phone}}"    
                      data-theme.color="{{obj.theme_color}}">
                </script>
                <div class="form-group col-md-12 text-center p-t-20">
                    <p class="m-b-0"><small>By proceeding, you agree to the <strong><a href="{% url 'privacy policy' %}" target="_blank">Privacy Policy</a></strong> and <strong><a href="{% url 'terms and conditions' %}" target="_blank">Terms of Use</a></strong> of {{obj.site_name}}</small></p>
                    <p class="m-b-0"><small>(1) Let you apply for personal loan in multiple banks (2) You get 4 years free loan consultancy (3) Get 40% referral payout bonus (4) Get loan offers from multiple banks anytime-anywhere (5) You stay at home; our team will go to multiple banks for you (6) On-call Assistance on all your doubts</small></p>
                </div>
              </form>
          </div>

      </div>
    </div>
</section>
{% endblock %}