{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}

<section id="page-title">
  <div class="container">
    <h2>Onboarding</h2>
    <div class="breadcrumb text-left">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'onbording' %}">Onboarding</a></li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<section  class="p-b-40" id="membershipcard">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-12 mx-auto">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <tr>
              <th>#</th>
              <th>Loan category</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
           <tbody>
            {% if loans %}
              {% for loan in loans %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{loan.category}}</td>
                    <td><i class="fa fa-inr"></i> {{loan.amount|default:'0'}}</td>
                    <td>{{loan.status}}</td>
                    <td>{{loan.created_on}}</td>
                    <td>
                      <a href="{% url 'apply specific' loanid=loan.loanid %}" class="btn btn-secondary">apply</a>
                      <a href="#" class="btn btn-primary">Pay</a>
                    </td>
                </tr>
              {% endfor %}
            {% else %}
               <tr>
                  <td colspan="6" class="text-center"><p><i class="fa fa-exclamation-triangle"> </i> No loan history found</p>
                  </td>
               </tr>   
            {% endif %}
           </tbody>
          </table>
          <ul class="pagination pagination-primary mt-4">
              {% if loans.has_previous %}
              <li class="page-item active"><a class="page-link" href="{% url 'onbording' %}?page={{loans.previous_page_number}}"><i class="icon-chevron-left"></i></a></li>
              {% endif %}
              {% if loans.has_next %}
              <li class="page-item active"><a class="page-link" href="{% url 'onbording' %}?page={{loans.next_page_number}}"><i class="icon-chevron-right"></i></a></li>
              {% endif %}
          </ul>
        </div> 
      </div>
    </div>
  </div>
</section>
<a href="{% url 'apply' %}" class="phone-call text-light" data-toggle="tooltip" title="Request for a loan now" data-placement="top" data-original-title="Request for a loan now">
  Apply loan now
    </a>
{% endblock %}