{% extends 'manager/login_layout.html' %}
{% load static %}
{% block body %}
<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-10 mx-auto text-center">
                  <form action="{% url 'manager dashboard' %}" method="post" class="card auth_form myForm" novalidate>
                    <div class="header"  style="color:#fff">
                        <img class="logo" src="{% static 'admino/assets/images/loader.gif' %}" data-src="{% static 'admino/assets/images/logos/armlogi-logo-removebg-preview.svg' %}"  alt="{{site_name}} logo">
                        <h5>Password reset Complete !</h5>
                    </div>
                    <div class="body">
                         <p class="text-center"  style="color:#fff">Your password has been set. You may go ahead and log in now.</p>
                         <div class="text-center"> 
                                <a  class="btn btn-primary btn-block waves-effect waves-light auth-btn" href="{% url 'manager dashboard' %}">Login</a> 
                         </div>
                    </div>
                </form>
               
                <div class="copyright text-center">
                    <span>&copy; <script>document.write(new Date().getFullYear())</script>,</span>
                    <span><a class="page-refresher" href="{% url 'home' %}">{{site_name}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}