{% extends 'manager/login_layout.html' %}
{% load static %}
{% block body %}
<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-10 mx-auto text-center">
                <form  method="post" class="card auth_form" novalidate>
                    {% csrf_token %}
                    <div class="header"  style="color:#fff">
                        <img class="logo" src="{% static 'admino/assets/images/loader.gif' %}" data-src="{% static 'admino/assets/images/logos/armlogi-logo-removebg-preview.svg' %}" alt="{{site_name}} logo">
                        <h5>Reset password</h5>
                    </div>
                    <div class="body">
                        <label for=""class="float-left">New password</label>
                        <div class="form-group input-group mb-3">
                            <input class="form-control {% if form.new_password1.errors %} is-invalid {% else %}''{% endif %}" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"placeholder="New password">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class=" text-light zmdi zmdi-shield-check"></i></span>
                            </div>
                        </div>
                        {% if form.new_password1.errors %}
                        <div class="text-danger float-left pb-3" style="margin-top:-10px"><i class="fa fa-exlamation-circle"></i> {{form.new_password1.errors.as_text}}</div>
                        {% endif %}
                        <label for=""class="float-left">Confirm  password</label>
                        <div class="form-group input-group mb-3">
                            <input class="form-control {% if form.new_password2.errors %} is-invalid {% else %}''{% endif %}" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Confirm password">
                            <div class="input-group-append">                                
                                <span class="input-group-text"><i class="text-light zmdi zmdi-shield-check"></i></span>
                            </div>
                        </div>
                        {% if form.new_password2.errors %}
                        <div class="text-danger float-left pb-3" style="margin-top:-10px"><i class="fa fa-exlamation-circle"></i> {{form.new_password2.errors.as_text}}</div>
                        {% endif %}
                        <button class="btn btn-primary btn-block waves-effect waves-light auth-btn">
                            <span></span>
                            <span>RESET</span>
                        </button>
                    </div>
                    <div class="mt-2 footer text-center">
                        <p>All good ? <a href="{% url 'manager dashboard' %}">Login here</a></p>                    
                    </div>
                </form>
                <div class="copyright  text-center">
                    <span>&copy; <script>document.write(new Date().getFullYear())</script>,</span>
                    <span><a class="page-refresher" href="{% url 'home' %}">{{site_name}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}