{% extends 'manager/base.html' %}
{% load static %}
{% block body %}

<section id="page-title">
  <div class="container">
    <h2>Privacy Policy</h2>
    <div class="breadcrumb text-left">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'privacy policy' %}">Privacy Policy</a></li>
        </ol>
      </nav>
    </div>
  </div>
</section>

<section id="section-privacy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p dir="ltr">{{obj.site_name}} puts its every user&rsquo;s privacy at top priority. This information &ndash; the Privacy Policy of {{obj.site_name}} &ndash; states the ways we gather your information, what we do with it, with whom we share it, and how we protect it.</p>

<p dir="ltr">Our company name is {{obj.site_name}} Service and the brand name/domain we use is {{obj.site_name}}.in.</p>

<p dir="ltr">{{obj.site_name}} gathers your personal details and information from various sources and mediums that include:</p>

<p dir="ltr">Details and information you share through applications or forms that include your name, address, marital status, employment, assets, and income. We also collect information regarding your accounts, holdings, transactions from you or others, like account custodians, brokers, or any other financial services organizations, banks, etc.</p>

<p dir="ltr">{{obj.site_name}} is completely dedicated to ascertaining the safety of our users to prevent them from any possible privacy challenge. Our privacy policies apply to all users across the globe. This policy applies to any information, of any kind, relating to {{obj.site_name}} global business activities, and to all information held by {{obj.site_name}} by other companies with which it operates. These privacy policies also cover all IT (Information Technology) and information communications facilities functioning and operated by {{obj.site_name}} or on its behalf.</p>

<p dir="ltr">This Privacy Policy applies to {{obj.site_name}} SERVICE, a company incorporated under the laws of India and has its registered office on the 28th, 2nd floor, Vijayraj Society, Causeway Road, Katargam, Surat, Gujarat, India - 395004 and all its affiliates. Email, Internet, telephone and mobile IT devices are all included in these privacy policies. All {{obj.site_name}} users, Clients, employees, contractors, and agents (later referred to as &quot;individuals&quot;) are subject to this policy.</p>

<p dir="ltr">The courts and tribunals of Surat, Gujarat only, have full jurisdiction over any claim, act, or other matter arising out of or in connection with the Loan Documents, subject to the decision. This provision does not limit the Lender&#39;s right to bring any legal proceedings or procedures relating to Loans or Loan documents to any other court, tribunal, or another competent court, jurisdiction &ndash; and the Borrower and/or the Guarantor acknowledge this.</p>

<h4 dir="ltr"><strong>Managing and Protection of Your Personal Information:</strong></h4>

<p dir="ltr">We do not share or sell information of current or previous clients with anyone else (third parties). We may need to share your personal information to:</p>

<ol>
  <li dir="ltr">
  <p dir="ltr">Carry out, administer, effect, or enforce a transaction that has been requested and authorized by you.</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">Process a financial product or service that you have requested or authorised; or</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">Maintain or service your account, whether it&#39;s with us or with someone else.</p>
  </li>
</ol>

<p dir="ltr">We may also share personal information with organisations or firms that provide consulting, technology, or other services for us and agree to keep it confidential; others, such as attorneys, trustees, family members, or others who are authorised to represent you, your estate, or a joint or co-owner of your account; regulatory agencies; or as we are otherwise permitted by law or its process.</p>

<p dir="ltr">We only give our staff and permitted third-parties access to your personal information if they require it to deliver products or services for us or to supply, handle, or maintain any security, account, or investment product, service, or programme for you or your benefit. We have implemented administrative, technical, and physical security systems that comply with Indian laws to secure your personal information from unauthorised access and use. Computer safeguards, as well as guarded files and buildings, are among these methods.</p>

<p dir="ltr">We can do the following with your information:</p>

<p dir="ltr">We may use the personal information you share with us or that we collect for the following purposes:</p>

<ol>
  <li dir="ltr">
  <p dir="ltr">Evaluating any request for an account or service;</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">Carrying out the functions and activities of our business;</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">Recovering the money you owe us, including taking legal action if necessary;</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">Enforcing our rights and upholding our commitments under any agreement we may have with you;</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">Exercising our rights and executing our obligations in order to comply with all applicable laws, including those relating to money laundering, terrorist funding, bribery, corruption, tax evasion, fraud, and other similar offences, as well as to manage any economic and trade sanction risks;</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">For general monitoring and administering services that are given to you (or other related entity); and</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">To give you information or details of our other services, or the services of the selected third parties that we think might interest you &ndash; through posts, telephone or electronic messages. You can stop receiving such information by conveying us in writing.</p>
  </li>
</ol>

<h4 dir="ltr"><strong>Sharing of Personal Information with Third Parties</strong></h4>

<p dir="ltr">We are never indulged in selling, trading, or transferring your personal information to random third parties. These do not include our trusted third parties who assist us with our website operations and functions, conduct our business, or help in serving you &ndash; as long as these third parties agree to ensure information confidentiality. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others&rsquo; rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

<h4 dir="ltr"><strong>Information Confidentiality &amp; Security</strong></h4>

<p dir="ltr">{{obj.site_name}} is extremely concerned about the security of your personal information. We use industry-standard information security techniques and mechanisms, as well as internal procedures and rules to protect information provided to us from misuse and data leakage both during transmission and once we receive it. However, no technique of internet transmission or method of computer storage is completely safe. Due to this, while we put efforts to safeguard and protect your personal information using commercially reasonable techniques that significantly limit the risks of data misuse, we cannot guarantee its total security.</p>

<p dir="ltr">In case you wish to inform us about any security vulnerability or possible data misuse, kindly reach out to us at <a href="mailto:info@{{obj.site_name}}.in">info@{{obj.site_name}}.in</a> and if we find it necessary, we will take steps accordingly.</p>

<p dir="ltr">Our employees and channel partners can access the information on a &quot;need-to-know&quot; basis and are subject to confidentiality obligations.</p>

<h4 dir="ltr"><strong>ACCURACY OF DATA</strong></h4>

<p dir="ltr">The personal data has to be accurate and must be maintained up to date as per requirement. When personal information is incorrect, it must be updated or deleted without delay. It is recommended that you ensure that the Personal Data we use and store is accurate, complete, current, and relevant to the purpose for which it was obtained. Any Personal Data given at the point of the collection must be checked for accuracy and at regular intervals thereafter. You must take all reasonable steps to discard or modify Personal Data that is erroneous or out-of-date.</p>

<h4 dir="ltr"><strong>LIABILITY LIMIT</strong></h4>

<p dir="ltr">To avoid any confusion or misunderstanding, it must be noted that we will not be accountable for any confusion that may arise as a result of your actions or omissions, or as a result of your watching, reading, or listening to any information. Although we will do our best to ensure that our website is accessible at all times, we accept no responsibility or liability for any interruptions or delays.</p>

<p dir="ltr">Our entire liability to you for all damages arising from your use of the service or information, materials, or goods featured on or otherwise made available to you through the service will in no instance exceed the amount you paid for the service relating to your claim.</p>

<p dir="ltr">We are not responsible for any loss, damage, or misappropriation of your files, or for any consequences resulting from changes, restrictions, suspension, or termination of your service or the agreement, under any circumstances. These obligations will apply to you even if its remedies fail to achieve their primary goal.</p>

<h4 dir="ltr"><strong>USAGE OF ADVERTISING ID</strong></h4>

<ul>
  <li dir="ltr">
  <p dir="ltr">We may automatically record your Google and/or any other Advertising ID (if you are using an Android device) or your Advertising Identifier (IDFA &ndash; if you are using an iOS device; together with the Google and/or any other Advertising ID&ndash;&quot;Mobile Advertising IDs&quot;) when you use our application that incorporates our Services for advertising or analytics purposes.</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">The aforementioned Advertising ID is a Google Play-provided anonymized identity. We may collect and use your device&#39;s Advertising ID for advertising and user analytics purposes if it has one. We may use alternative persistent identifiers if your device does not have an Advertising ID. The information gathered may be saved on your device as well. Through your mobile Advertising IDs, which are available in our settings, you can reset your mobile Advertising ID or opt out of getting targeted adverts.</p>
  </li>
</ul>

<h4 dir="ltr"><strong>COMPLIANCE &amp; COOPERATION WITH REGULATORS</strong></h4>

<p dir="ltr">We check this Privacy Policy on a regular basis to ensure that we are processing your personal information in accordance with Indian law regulations. {{obj.site_name}} stringently adheres to all the legal frameworks, including data protection regulations governing data transfers.</p>

<h4 dir="ltr"><strong>CONSENT</strong></h4>

<p dir="ltr">By using our website or its services, you agree to all the terms of our privacy policy. The approval of the Privacy Policy is implied by the usage of our portal.</p>

<h4 dir="ltr"><strong>GRIEVANCES</strong></h4>

<ul>
  <li dir="ltr">
  <p dir="ltr">You can send us formal written enquiries or complaints to the following email address: {{obj.site_name}}@gmail.com for any complaints and/or inquiries. All enquiries and/or complaints will be investigated and resolved as soon as possible.</p>
  </li>
  <li dir="ltr">
  <p dir="ltr">Our experts will contact the person who initiated the enquiries and/or complaints in order to react. Any objections about the transfer of your data that we cannot settle with you directly are forwarded to the appropriate regulatory authorities, including local data protection authorities.</p>
  </li>
</ul>

<h4 dir="ltr"><strong>POLICY MODIFICATION</strong></h4>

<p dir="ltr">{{obj.site_name}} reserves the right to change this Privacy Policy at any moment based on our own independent judgement and understanding. If the changes are significant, the Company will make every effort to notify its customers and post notices prominently (including, for certain services, email notification of Privacy Policy changes). It is important to note that it is the obligation of the Clients to read the Policy as revised from time to time.</p>

<h4 dir="ltr"><strong>USAGE OF COOKIES/COOKIES POLICY</strong></h4>

<p dir="ltr">Cookies are tiny files that a website or its service provider sends to your computer&#39;s hard drive with your permission, allowing the website&#39;s or service provider&#39;s systems to recognise your browser and capture and remember certain information. We use cookies to better understand and remember your preferences for future visits, track adverts, and compile aggregate statistics about site traffic and interaction so that we can continue to provide better site experiences and tools.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}