{% extends 'manager/base.html' %}
{% load static %}
{% block body %}
  <section id="page-title">
	<div class="container">
		<h2>Raise A Request</h2>
		<div class="breadcrumb text-left">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'raise request' %}">Raise a Request</a></li>
				</ol>
			</nav>
		</div>
	</div>
</section>

<section id="request">
	<div class="container">
		<div class="row">

			<div class="form-wrapper col-lg-6 col-md-6 col-12 position-relative">
				<div class="load-overlay" style="display:none">
            <span class="overlay-close btn-remove" title="close overlay"><i class="fa fa-close"></i></span>
            <div class="overlay">
                <div class="row">
                    <div class="col-12">
                        <div class="loader-container">
                        <div class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
				<form action="" id="submitForm" class="form-transparent-grey ContactForm" novalidate="novalidate" method="post" accept-charset="utf-8">
				{% csrf_token %}
				<div class="row">
					<div class="form-group col-md-12">
						<label class="text-dark" for="fullname">I am a,</label>
						<div class="row p-l-20">
							<div class="col-lg-4">
								<input class="form-check-input" name="user" id="id_user_0" value="customer" checked type="radio">
								<label class="form-check-label" for="id_user_0">Customer</label>
							</div>
							<div class="col-lg-4">
								<input class="form-check-input" name="user" id="id_user_1" value="guest user" type="radio">
								<label class="form-check-label" for="id_user_1">Guest User</label>
							</div>
						</div>
					</div>
					
					<div class="form-group col-md-12">
						<label class="text-dark" for="fullname">Full Name *</label>
						{{form.name}}
						<div class="help-block font-small-3"></div>
					</div>
							
					<div class="form-group col-md-12">
						<label class="text-dark" for="email">Mobile no *</label>
						{{form.phone}}
						<div class="help-block font-small-3"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="text-dark" for="email">Email id *</label>
						{{form.email}}
						<div class="help-block font-small-3"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="text-dark" for="cno">Card Number(Optional)</label>
						{{form.card_number}}
					</div>

					<div class="form-group col-md-12">
						<label class="text-dark" for="">Query Related To</label>
						{{form.query}}
						<div class="help-block font-small-3"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="text-dark" for="message">Request Message</label>
						{{form.message}}
						<div class="help-block font-small-3"></div>
					</div>

					<div class="form-group text-center col-md-12">
						<button class="btn btn-primary" name="submit-btn" id="submit-btn">Submit Request</button>
					</div>

					<div class="form-group col-md-12" id="submitedmessage"></div>
					
				</div>
				</form>			
			</div>
			<div class="col-lg-6 col-md-6 col-12">
				<div class="heading-text m-b-0 text-center">
					<h4>Common FAQs</h4>
				</div>
			
				<div class="accordion white accordion-shadow">
					<div class="ac-item">
						<h5 class="ac-title p-r-15">I did the payment by mistake and I do not wish to take company services. Can I request a refund?</h5>
						<div class="ac-content">
							<p>In this case, we request you to call the company on {{obj.phone}} between {{obj.working_hours}} – {{obj.working_days}} (business days only) – and discuss the matter.</p>
						</div>
					</div>

					<div class="ac-item p-r-15">
						<h5 class="ac-title">Who is eligible to get a GST Return?</h5>
						<div class="ac-content">
							<p>Some of the likely purposes for which a personal loan can be used are Shopping, Home Renovation, Higher Education, Debt Consolidation, Tour Travel, Wedding, Medical emergency, etc.</p>
						</div>
					</div>

					<div class="ac-item">
						<h5 class="ac-title p-r-15">What should I do if I am not satisfied with the company's services?</h5>
						<div class="ac-content">
							<p>In this case, we request you to call the company on {{obj.phone}} between {{obj.working_hours}} – {{obj.working_days}} (business days only) – and discuss the matter.</p>
						</div>
					</div>

					<div class="ac-item p-r-15">
						<h5 class="ac-title">What should I do if my account is not created even after the payment is done?</h5>
						<div class="ac-content">
							<p>It might happen that your amount is on hold with the payment gateway and is still not credited to the company's account. Kindly do not worry, your account will be created once the amount is credited to the company's account – and you will be timely informed. Or, the payment gateway will refund the amount to your account according to their rules and regulations.</p>
						</div>
					</div>

					<div class="ac-item">
						<h5 class="ac-title p-r-15">I'm not willing to take the company's services. Can I request a refund?</h5>
						<div class="ac-content">
							<p>In this case, we request you to call the company on {{obj.phone}} between {{obj.working_hours}} – {{obj.working_days}} (business days only) – and discuss the matter.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}