{% extends 'panel/base.html' %}
{% load static %}
{% load indian_currency %}
{% load humanize %}
{% block body %}
 <div class="container-fluid">
    <div class="row">
        <div class="col-12 m-b-30">
            <div class="card card-statistics dating-contant h-100 mb-0">
               <div class="card-header">
                  <div class="row">
                     <div class="col-6">
                        <h4 class="card-title">View all employees</h4>
                     </div>
                     <div class="col-6 text-right">
                        <a href="{% url 'card config' %}" class="btn btn-primary">add card</a>
                     </div>
                  </div>
               </div>
                  <div class="card-body pt-2 scrollbar scroll_dark" style="height:600px">
                     <div class="table-responsive table-results">
                        <table id="datatable-buttons" class="table table-striped">
                           <thead>
                               <tr>
                                   <th class="border-top-0">No.</th>
                                   <th class="border-top-0">Loan Type</th>
                                   <th class="border-top-0">Card Type</th>
                                   <th class="border-top-0">Interest % p.a</th>
                                   <th class="border-top-0">Prev Price</th>
                                   <th class="border-top-0">Curent Price</th>
                                   <th class="border-top-0">Start Validity Date</th>
                                   <th class="border-top-0">End Validity Date</th>
                                   <th class="border-top-0">Created On</th>
                                   <th class="border-top-0">Action</th>
                               </tr>
                           </thead>
                           <tbody class="text-muted">
                              {% if cards %}
                                {% for card in cards %}
                                  <tr id="id_{{employee.id}}">
                                      <td>{{forloop.counter}}</td>
                                      <td>{{card.loan_type|default:'No data'}}</td>
                                      <td>{{card.card_type|default:'No data'}}</td>
                                      <td>{{card.interest|default:'No data'}} %</td>
                                      <td>{{card.prev_price|indian_currency}}</td>
                                      <td>{{card.now_price|indian_currency}}</td>
                                      <td>{{card.now_date|default:'No data'}}</td>
                                      <td>{{card.start_date|default:'No data'}}</td>
                                      <td>{{card.end_date|default:'No data'}}</td>
                                      <td>{{card.created_on|default:'No data'}}</td>
                                      <td>
                                          {% if data.is_superuser %}
                                            <a href="{% url 'edit card' cardid=card.config_id %}" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i class="ti ti-pencil" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i></a>
                                            <a class="del-data btn btn-icon btn-outline-danger btn-round" data-host="{% url 'view cards' %}" href="{% url 'delete card' cardid=card.config_id  %}"><i class="ti ti-close" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i></a>
                                          {% else %}
                                          <a href="javascript:void(0)" class="btn btn-icon btn-outline-primary btn-round mr-2 mb-2 mb-sm-0 "><i class="ti ti-pencil" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i></a>
                                          <a class="btn btn-icon btn-outline-danger btn-round" href="javascript:void(0)"><i class="ti ti-close" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i></a>
                                          {% endif %}
                                      </td>
                                  </tr>
                                 {% endfor %}
                              {% else %}
                              <tr>
                                 <td colspan="9" class="text-center text-info">
                                    <i class="fa fa-exclamation-circle"></i> no card(s) data found
                                 </td>
                              </tr>
                              {% endif %}
                           </tbody>
                       </table>
                     </div>
                     <ul class="pagination pagination-primary mt-4">
                        {% if employees.has_previous %}
                           <li class="page-item active mr-2"></i><a  href="{% url 'site employees' %}?page={{employees.previous_page_number}}" class="btn btn-icon btn-outline-primary btn-round"><i class="dripicons dripicons-chevron-left" data-toggle="tooltip" data-placement="top" title="Previous" data-original-title="Previous"></i></a></li>
                        {% endif %}
                        {% if employees.has_next %}
                        <li class="page-item active"><a  href="{% url 'site employees' %}?page={{employees.previous_page_number}}" class="btn btn-icon btn-outline-info btn-round"><i class="dripicons dripicons-chevron-right" data-toggle="tooltip" data-placement="top" title="Next" data-original-title="Next"></i></a></li>
                        {% endif %}
                    </ul>
                  </div>
               </div>
            </div>
      </div>
</div>
{% endblock %}