{% extends 'panel/base.html' %}
{% load static %}
{% block body %}
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                <div class="page-title mb-2 mb-sm-0">
                    <h1>Answer Query</h1>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a  href="{% url 'admin dashboard' %}"><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'admin dashboard' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'customers queries' %}">View queries</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Answer {{query.name}}'s query</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 mx-auto">
            <div class="card card-statistics">
                <div class="card-header">
                    <div class="card-heading text-center">
                        <h4 class="card-title text-capitalize">{{query.name }}'s Query</h4>
                    </div>
                </div>
                <div class="card-body"> 
                    <form class="RegForm" method="post" action="" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_name">Name</label>
                            {{form.name}}
                            <div class="feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="id_name">Category</label>
                            {{form.user}}
                            <div class="feedback"></div>
                        </div>
                        <div class="form-group">               
                            <label for="id_email">Email</label>
                            {{form.email}}
                            <div class="feedback"></div>
                        </div>
                        <div class="form-group">               
                            <label for="id_username">Query</label>
                            {{form.query}}
                            <div class="feedback"></div>
                        </div>
                        <label for="id_answer">Answer</label>
                        <div class="form-group">               
                            {{form.answer}}
                            <div class="feedback"></div>
                        </div>
                        <div class="text-center" style="margin-top:60px">
                            <button type="submit" class="btn btn-primary">
                                <span></span><span>submit</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
 </div>
{% endblock %}