{% extends 'panel/auth_layout.html' %}
{% load static %}
{% block body %}
<div class="app-contant">
    <div class="bg-white">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="login p-50">
                            <h1 class="mb-2 text-center text-capitalize">MRF</h1>
                            <h3 class="text-center">Password reset Complete !</h3>
                            <div class="body">
                                <p class="text-center">Your password has been set. You may go ahead and log in now.</p>
                                <div class="text-center mt-3"> 
                                       <a  class="btn btn-primary waves-effect waves-light" href="{% url 'login' %}">Login</a> 
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xxl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                    <div class="row align-items-center h-100">
                        <div class="col-7 mx-auto ">
                            <img class="img-fluid" src="{% static 'panel/assets/img/bg/login.svg' %}" alt="Login svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}